**/bin/**
**/Debug/**
**/Release/**
**/obj/**
**/*ReSharper*/**
**/*.suo
**/*.user
**/*.cache
**/.project
**/*.ncb
!RockImager.Data/Database/RockImager.bak
!Installer/DBEvolverData/ExecutionList.config
RobotConfigs/*
FrapImageProcessor/Win32/*
Installer/Binaries/*
Installer/Installer/*
Installer/DBEvolverData/*
Installer/SharedFiles/*
Installer/RockImager*.exe
TestBin/*
Plugins/AutoScoring/ImgProc/x64/
Docs/ImagerLinkAPI/Output/
