USE [SalesInventory]
GO
/****** Object:  Table [dbo].[M_CUSTOMERS]    Script Date: 11/08/2025 08:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_CUSTOMERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[MemberType] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_PRODUCTS]    Script Date: 11/08/2025 08:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PRODUCTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NULL,
	[Name] [varchar](70) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NULL,
	[Deleted] [bit] NOT NULL,
	[Barcode] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_SETTINGS]    Script Date: 11/08/2025 08:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_SETTINGS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [varchar](80) NOT NULL,
	[Group] [varchar](80) NULL,
	[Value] [text] NULL,
	[Default] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_USERS]    Script Date: 11/08/2025 08:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Role] [int] NULL,
	[Deleted] [bit] NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TRANSACTION_DETAILS]    Script Date: 11/08/2025 08:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TRANSACTION_DETAILS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[ProductDiscount] [decimal](18, 0) NULL,
	[ProductPrice] [decimal](18, 0) NULL,
	[Subtotal] [decimal](18, 0) NULL,
	[TransactionId] [bigint] NULL,
	[SubtotalDiscount] [decimal](18, 0) NULL,
	[SubtotalPrice] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TRANSACTIONS]    Script Date: 11/08/2025 08:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TRANSACTIONS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[TotalDiscount] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
	[Notes] [varchar](100) NULL,
	[TransactionTime] [datetime] NULL,
	[Payment] [decimal](18, 0) NULL,
	[Exchange] [decimal](18, 0) NULL,
	[UserId] [int] NULL,
	[CustomerId] [int] NULL,
	[Factur] [varchar](20) NULL,
	[Revision] [bigint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_PRODUCTS] ADD  CONSTRAINT [DF_M_PRODUCTS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[M_USERS] ADD  CONSTRAINT [DF_M_USERS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
